* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.topo-site {
    width: 100%;
    background-color: rgb(251, 86, 48);
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.area-logo {
    display: flex;
    align-items: center;
    margin-left: 3%;
}

.area-logo img {
    height: 60px;
}

.area-logo h1 {
    color: white;
    margin-left: 5%;
    cursor: pointer;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
}

.topo-site a {
    text-decoration: none;
}

.topo-site p {
    color: white;
    margin-right: 1.5vw;
    font-size: 20px;
}

.container-produto {
    display: flex;
    margin: 50px 10% 0 10%;
    gap: 5%;
}

.galeria-imagens {
    display: flex;
    width: 40%;
    position: relative;
}

.miniaturas {
    width: 10%;
    display: flex;
    flex-direction: column;
}

.miniaturas img {
    height: 5vw;
    max-height: 90px;
    min-height: 60px;
    margin-bottom: 10px;
    opacity: 0.6;
    cursor: pointer;
}

.miniaturas img:hover {
    opacity: 1;
    border: 2px solid rgb(251,86,48);
}

.imagem-destaque {
    flex: 1;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.imagem-destaque img {
    width: 100%;
}

.informacoes-produto {
    width: 40%;
}

.informacoes-produto p {
    margin: 10px 0;
}

.botao-personalizado {
    height: 40px;
    cursor: pointer;
    background-color: white;
    color: rgba(0,0,0,0.8);
    border: 1px solid rgba(0,0,0,0.09);
    margin: 10px 8px 8px 0;
    padding: 0.25rem 0.75rem;
}

.botao-personalizado:hover {
    color: rgb(251,86,48);
    border: 1px solid rgb(251,86,48);
}

#comprarAgora {
    height: 60px;
    cursor: pointer;
    background-color: rgb(251,86,48);
    color: white;
    border: 1px solid rgb(251,86,48);
    margin: 10px 0;
    padding: 0.25rem 0.75rem;
}

#comprarAgora:hover {
    opacity: 0.9;
}

#precoAtual {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.875rem;
    color: rgb(251,86,48);
}

.navegacao ul {
    background-color: rgb(215, 215, 215);
    display: flex;
    justify-content: center;
    padding: 0;
}

.navegacao ul li {
    list-style: none;
}

.navegacao ul li a {
    font-size: 18px;
    color: rgb(251,86,48);
    text-align: center;
    text-decoration: none;
    padding: 14px;
    display: block;
}

.navegacao ul li a:hover {
    font-weight: bold;
    background-color: white;
}
