* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

body {
    line-height: 1.2;
    background-color: #c3c3c3;
}

a {
    text-decoration: none;
    color: black;
}
header {
    width: 100%;
    background-color: rgb(251, 86, 48);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header div {
    display: flex;
    align-items: flex-start;
    margin-left: 3%;
}
header img {
    height: 60px;
}
header h1 {
    color: white;
    margin-left: 5%;
    cursor: pointer;
    margin-bottom: 0px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2rem;
}
header a {
    text-decoration: none;
}
header p {
    color: white;
    margin-right: 1.5vw;
    font-size: 20px;
}
.navegacao-principal ul {
    background-color: #fb7730;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    line-height: 1.15;
}
.navegacao-principal ul li {
    list-style: none;
}
.navegacao-principal ul li a {
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 16px;
    display: block;
}
.navegacao-principal ul li a:hover {
    background-color: rgb(251, 86, 48);
    transition: 0.5s;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 2vh;
    background-color: white;
    min-width: 865px;
}

.product-grid img {
    max-width: 100%;
    display: block;
    margin-bottom: 0.1vw;
}

.product-grid .product-card {
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    background-color: white;
    margin: 10px;
}

.product-grid .product-card:hover {
    transform: scale(1.03);
    transition: 0.3s;
    box-shadow: 0px 0px 0px 2.3px rgba(255, 61, 12, 0.719);
}

.product-visual .product-name {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 14px;
    padding: 5px;
}

.product-details {
    margin-bottom: 5px;
}

.product-details p {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.product-details span {
    font-weight: 100;
    color: gray;
    font-size: 13px;
}

.product-pricing {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;
}

.product-pricing .product-price {
    font-size: 14px;
    margin-left: 10px;
    color: orangered;
    padding: 5px;
}

.product-pricing .product-stock {
    color: gray;
    font-size: 13px;
    padding: 5px;
    text-align: center;
    margin-right: 5px;
}

.site-info-footer {
    display: block;
    width: 100%;
    height: auto;
    background-color: #eaeaea;
}

.site-info-footer .info-boxes-grid {
    width: 85%;
    background-color: #eaeaea;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
}

.site-info-footer .info-box-column {
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.site-info-footer .info-box-column h5 {
    margin-bottom: 1rem;
}

.site-info-footer .info-box-column .info-list {
    padding: 0;
}

.site-info-footer .info-box-column .info-list li {
    list-style: none;
    margin-bottom: 7px;
}

.site-info-footer .info-box-column .info-list a {
    text-decoration: none;
    color: black;
    padding: 0;
    font-size: 0.8rem;
}

.site-info-footer .payment-icons-container {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 20px;
}

.site-info-footer .payment-icons-container .payment-method-icon {
    width: 2.3rem;
    height: auto;
}

.site-info-footer .social-media-entry {
    display: flex;
}

.site-info-footer .social-media-entry .social-media-icon {
    width: 1rem;
    height: auto;
}

.site-info-footer .social-media-entry p {
    margin-left: 5px;
}

.site-info-footer .social-media-entry:not(:last-child) {
    margin-bottom: 7px;
}

.site-info-footer .info-box-column .app-download-image {
    width: 4rem;
    height: auto;
}

.site-info-footer .info-box-column .app-download-image:last-child {
    margin-left: 3px;
}

.site-end-section {
    width: 100%;
    height: 5rem;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.site-end-section .footer-divider {
    display: block;
    width: 85%;
    margin-bottom: 1rem;
}


p {
    margin-bottom: 0px;
}

h5 {
    font-size: 13.28px;
    font-weight: bold;
}