<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets//cadastrar_produto.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="" alt="">
                <h1 class="h1Logo">Shopi</h1>
            </div>
            <a id="fazer-login" href="/view/login.html">Sair</a>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="./home.html">Home</a></li>
            <li><a href="./cadastro.html">Cadastro Cliente</a></li>
            <li><a href="./cadastro_funcionario.html">Cadastro Funcionario</a></li>
            <li><a href="./cadastrar_produto.html">Cadastro Produto</a></li>
            <li><a href="#">Ver Clientes</a></li>
            <li><a href="#">Ver Funcionarios</a></li>
            <li id="li"><a href="./visualizar-produtos.html">Ver Produtos</a></li>Ver Produtos</a></li>
        </ul>
    </nav>

    <section>
        <form>
            <h1>Cadastrar Produto</h1>
            <input type="text" placeholder="Nome">
            <input type="text" placeholder="Fabricante">
            <input type="text" placeholder="Descrição">
            <input type="text" placeholder="Valor">
            <input type="text" placeholder="Quantidade">
            <h2>Selecionar foto do produto:</h2>
            <div class="enviar-foto">
                <button>Escolher arquivo</button>
                <p>Nenhum arquivo escolhido</p>
            </div>
            <input class="cadastrar" type="submit" value="CADASTRAR">
        </form>
    </section>
    
    <footer>
        <div class="informacao-footer">
            <div class="atendimento">
                <h1>ATENDIMENTO AO CLIENTE</h1>
                <p>Central de Ajuda</p>
                <p>Como Comprar</p>
                <p>Métodos de Pagamento</p>
                <p>Garantia Xhopii</p>
                <p>Devolução e Reembolso</p>
                <p>Fale Conosco</p>
                <p>Ouvidoria</p>
            </div>
            <div class="sobre">
                <h1>SOBRE A XHOPII</h1>
                <p>Sobre Nós</p>
                <p>Políticas Xhopii</p>
                <p>Política de Privacidade</p>
                <p>Programa de Aliados da Xhopii</p>
                <p>Seja um Entregador Xhopii</p>
                <p>Ofertas Relâmpago</p>
                <p>Xhopii Blog</p>
                <p>Impresa</p>
            </div>
            <div class="pagamento">
                <h1>PAGAMENTO</h1>
                <div class="cartao-logos">
                    <img src="https://down-br.img.susercontent.com/file/2a2cfeb34b00ef7b3be23ea516dcd1c5" alt="">
                    <img src="https://down-br.img.susercontent.com/file/44734b7fc343eb46237c2d90c6c9ca60" alt="">
                    <img src="https://down-br.img.susercontent.com/file/285e5ab6207eb562a9e893a42ff7ee46" alt="">
                    <img src="https://down-br.img.susercontent.com/file/a65c5d1c5e556c6197f8fbd607482372" alt="">
                    <img src="https://down-br.img.susercontent.com/file/95d849253f75d5e6e6b867af4f7c65aa" alt="">
                    <img src="https://down-br.img.susercontent.com/file/5ee8fb5f33fdf1e42ea32b86f47f54c4" alt="">
                    <img src="https://down-br.img.susercontent.com/file/2d091a1c189e8e4c529a73f3ec3a118d" alt="">
                </div>
            </div>
            <div class="siganos">
                <h1>SIGA-NOS</h1>
                <section class="sociais">                    
                    <img src="https://down-br.img.susercontent.com/file/aed1aaab6a81b4347b440d981f0cf76f" alt=""><p>Instagram</p>
                    <img src="https://down-br.img.susercontent.com/file/br-50009109-0c618bb99f36ac8568f496fba43c623c" alt=""><p>Twitter</p>
                    <img src="https://down-br.img.susercontent.com/file/33b3213444ab1fa40c1eb7abf8b91b11" alt=""><p>Facebook</p>
                    <img src="https://down-br.img.susercontent.com/file/531a1a0e62d0f9875a56390970e5a845" alt=""><p>Tiktok</p>
                    <img src="https://down-br.img.susercontent.com/file/ddf4fb18c6fa5e2d73459a7a7ea0953b" alt=""><p>LinkedIn</p>
                </section>
            </div>
            <div class="atendimento">
                <h1>ATENDIMENTO AO CLIENTE</h1>
                <section class="app-qrcode">
                <img src="https://down-br.img.susercontent.com/file/27788e45f5489f39ef1e774e9bbedb6f" alt="">
                <img src="https://down-br.img.susercontent.com/file/3b43f8cafbf943868154166639011597" alt="">
                <img src="https://down-br.img.susercontent.com/file/2c0f5bda4ce39caff001e7ccec309bc6" alt="">
                </section>
            </div>
        </div>
        <div class="linha"></div>
        <div class="copyright">
            <p>© 2025 Xhopii. Todos os direitos acadêmicos reservados</p>
        </div>
    </footer>
    
</body>
</html>