<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Cadastrar Lojinha</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../assets/produtos.css">
  <link rel="stylesheet" href="../assets/cadastro-loja.css">
  <link rel="shortcut icon" href="../assets/img/icon-shopee.png">
</head>
<body>
  <header class="topo-site">
    <div class="area-logo">
      <img src="../assets/img/logo.png" alt="logo">
      <h1>Xhopii</h1>
    </div>
    <a href="login.html"><p>Sair</p></a>
  </header>

  <nav class="navegacao">
    <ul>
       <li><a href="../index.html">Home</a></li>
            <li><a href="./cadastro.html">Cadastrar Cliente</a></li>
            <li><a href="./cadastro_funcionario.html">Cadastrar Funcionário</a></li>
            <li><a href="./cadastrar_produto.html">Cadastrar Produto</a></li>
            <li><a href="./cadastro-cupom.html">Cadastrar Cupom</a></li>
            <li><a href="./visualizar-clientes.html">Ver Clientes</a></li>
            <li><a href="./visualizar_funcionarios.html">Ver Funcionários</a></li>
            <li><a href="./visualizar-produtos.html">Ver Produtos</a></li>
            <li><a href="./visualizar_cupom.html">Ver Cupom</a></li>
    </ul>
  </nav>

  <main class="container-produto">
    <section class="informacoes-produto">
      <h1>Cadastrar Lojinha</h1>

      <form id="formLojinha">
        <p>
          <label for="nomeLojinha">Nome da Loja:</label><br>
          <input type="text" id="nomeLojinha" name="nomeLojinha" required>
        </p>

        <p>
          <label for="nomeVendedor">Nome do Vendedor:</label><br>
          <input type="text" id="nomeVendedor" name="nomeVendedor" required>
        </p>

        <p>
          <label for="emailContato">E-mail:</label><br>
          <input type="email" id="emailContato" name="emailContato" required>
        </p>

        <p>
          <label for="telefoneContato">Telefone (opcional):</label><br>
          <input type="tel" id="telefoneContato" name="telefoneContato">
        </p>

        <button type="submit" class="botao-personalizado">Cadastrar Lojinha</button>
      </form>
    </section>
  </main>

  <script src="../assets/cadastro-loja.js"></script>
</body>
</html>
