<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/img/cadastrar_cliente.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="" alt="">
                <h1 class="h1Logo">Xhopii
                </h1>
            </div>
            <a id="fazer-login" href="/view/login.html">Sair</a>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="./home.html">Home</a></li>
            <li><a href="./cadastro.html">Cadastro Cliente</a></li>
            <li><a href="./cadastro_funcionario.html">Cadastro Funcionario</a></li>
            <li><a href="./cadastrar_produto.html">Cadastro Produto</a></li>
            <li><a href="#">Ver Clientes</a></li>
            <li><a href="#">Ver Funcionarios</a></li>
            <li id="li"><a href="./visualizar-produtos.html">Ver Produtos</a></li>

        </ul>
    </nav>
    <section>
        <form>
            <h1>Cadastrar Cliente</h1>
            <input type="text" placeholder="Nome">
            <input type="text" placeholder="Sobrenome">
            <input type="text" placeholder="CPF">
            <input type="date" placeholder="Data">
            <input type="tel" placeholder="Telefone">
            <input type="email" placeholder="E-mal">
            <input type="password" placeholder="Senha">
            <h2>Selecionar foto de perfil</h2>
            <div class="enviar-foto">
                <button>Escolher arquivo</button>
                <p>Nenhum arquivo escolhido</p>
            </div>
            <input type="submit" class="cadastrar" value="CADASTRAR">
        </form>
    </section>
    <footer>
        <div class="informacao-footer">
            <div class="atendimento">
                <h1>
                    ATENDIMENTO AO CLIENTE
                </h1>
                <P>Central de ajuda</P>
                <p>Como comprar</p>
                <p>Metodos de pagamento</p>
                <p>Garantia Xhopii</p>
                <p>Devolução e Reembolso</p>
                <p>Fale conosco</p>
                <p>Ouvidoria</p>
            </div>
            <div class="sobre">
                <h1>
                    SOBRE A Xhopii
                </h1>
                <P>sobre nós</P>
                <P>Políticas da Xophi</P>
                <P>Política de Privacidade</P>
                <P>Programa de aliados da Xhoppi</P>
                <P>Seja um Entregador Xhopii</P>
                <P>Ofertas Relâmpago</P>
                <P>Xhopii Blog</P>
                <P>Impresa</P>
            </div>
            <div class="pagamento">
                <h1>PAGAMENTO</h1>
                <div class="cartao-logos">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>
            <div class="siganos">
                <h1>SIGA-NOS</h1>
                <section class="sociais">
                    <img src="" alt=""><p>Instagram</p>
                    <img src="" alt=""><p>Twitter</p>
                    <img src="" alt=""><p>Facebook</p>
                    <img src="" alt=""><p>Tiktok</p>
                    <img src="" alt=""><p>Linkedin</p>
                </section>
            </div>
            <div class="atendimento">
                <h1>ATENDIMENTO AO CLIENTE</h1>
                <section class="app-qrcode">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </section>
            </div>
        </div>
        <div class="linha">
            <div class="copyright">
                <p>© 2025 Xhopii. Todos os direitos acadêmicos reservados</p>
            </div>
        </div>
    </footer>
</body>
</html>