<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="..assets/img/icon-shopee.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"
        defer></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/cupom.css">
    <title>Início</title>
</head>
<body>
    <header>
        <div>
            <img src="/assets/img/logo.png" alt="emblema">
            <h1>Xhopii</h1>
        </div>
        <a href="/view/login.html">
            <p>Sair</p>
        </a>
    </header>
    <nav class="navegacao-principal">
        <ul>
            <li><a href="./home.html">Home</a></li>
            <li><a href="./cadastro.html">Cadastrar Cliente</a></li>
            <li><a href="./cadastro_funcionario.html">Cadastrar Funcionário</a></li>
            <li><a href="./cadastrar_produto.html">Cadastrar Produto</a></li>
            <li><a href="./cadastro-cupom.html">Cadastrar Cupom</a></li>
            <li><a href="./visualizar-clientes.html">Ver Clientes</a></li>
            <li><a href="./visualizar_funcionarios.html">Ver Funcionários</a></li>
            <li><a href="./visualizar-produtos.html">Ver Produtos</a></li>
            <li><a href="./visualizar_cupom.html">Ver Cupom</a></li>
        </ul>
    </nav>

  <main class="container-produto">
    <section class="informacoes-produto">
      <h1>Cadastrar Cupom</h1>

      <form id="formCupom">
        <p>
          <label for="codigo">Código do Cupom:</label><br>
          <input type="text" id="codigo" name="codigo" required>
        </p>

        <p>
          <label for="desconto">Desconto (%):</label><br>
          <input type="number" id="desconto" name="desconto" min="1" max="100" required>
        </p>

        <p>
          <label for="validade">Data de Validade:</label><br>
          <input type="date" id="validade" name="validade" required>
        </p>

        <button type="submit" class="botao-personalizado">Cadastrar Cupom</button>
      </form>
    </section>
  </main>

  <script src="../assets/cadastro-cupom.js"></script>
</body>
</html>
