<!DOCTYPE html5>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="../assets/img/icon-shopee.png">
    <link rel="stylesheet" type="text/css" href="../assets/login.css">
    <title>Xhopii</title>
</head>

<body>
    <nav class="area-navegacao">
        <img class="logotipo" src="../assets/img/logo.png" alt="Logotipo Xhopii">
        <h2>Xhopii</h2>
        <a class="acesso" href="../view/entre.html">Entre</a> 
        <a class="ajuda" href="../view/assistencia.html">Precisa de assistência?</a>
    </nav>

    <main class="invólucro">
        <div class="painel-principal">
            <p class="acesso-usuario">Login</p>

            <input type="email" placeholder="Email" name="campo-email">

            <input type="password" placeholder="Senha" name="campo-senha">

            <a href="../view/home.html"><button>CONTINUAR</button></a>
            <div class="opcoes-acesso">
                <a class="recuperar-senha" href="../view/esqueci-senha.html">Esqueci minha senha</a>

                <a class="acesso-sms" href="../view/acesso-sms.html">Acessar com SMS</a>
            </div>

            <div class="divisoria-horizontal">
                <hr>
                <p>OU</p>
                <hr>
            </div>

            <section class="formas-acesso">
                <div class="acesso-social">
                    <img src="../assets/img/logo-facebook.png" alt="Facebook">
                    <p>Facebook</p>
                </div>

                <div class="acesso-social">
                    <img src="../assets/img/logo-google.png" alt="Google">
                    <p>Google</p>
                </div>

                <div class="acesso-social">
                    <img src="../assets/img/logo-apple.png" alt="Apple">
                    <p>Apple</p>
                </div>

            </section>

            <div class="novo-registro">
                <p>Novo na Xhopii? <a href="../view/registrar.html">Registrar</a></p>
            </div>
        </div>
    </main>

    <aside class="informacoes-uteis">
        <section class="secoes-dados">
            <div class="caixa-info">
                <h5>ATENDIMENTO AO CLIENTE</h5>
                <ul>
                    <li><a href="../view/central-ajuda.html">Central de Ajuda</a></li>
                    <li><a href="../view/como-comprar.html">Como Comprar</a></li>
                    <li><a href="../view/metodos-pagamento.html">Métodos de Pagamento</a></li>
                    <li><a href="../view/garantia.html">Garantia Xhopii</a></li>
                    <li><a href="../view/devolucao-reembolso.html">Devolução e Reembolso</a></li>
                    <li><a href="../view/fale-conosco.html">Fale Conosco</a></li>
                    <li><a href="../view/ouvidoria.html">Ouvidoria</a></li>
                </ul>
            </div>

            <div class="caixa-info">
              <h5>SOBRE O XHOPII</h5>
                <ul>
                    <li><a href="../view/sobre-nos.html">Sobre nós</a></li>
                    <li><a href="../view/politicas.html">Políticas Xhopii</a></li>
                    <li><a href="../view/politica-privacidade.html">Política de Privacidade</a></li>
                    <li><a href="../view/programa-aliados.html">Programa de Aliados da Xhopii</a></li>
                    <li><a href="../view/entregador.html">Seja um Entregador Xhopii</a></li>
                    <li><a href="../view/ofertas-relampago.html">Ofertas Relâmpago</a></li>
                    <li><a href="../view/blog.html">Xhopii Blog</a></li>
                    <li><a href="../view/imprensa.html">Imprensa</a></li>
                </ul>
            </div>

            <div class="caixa-info">
                <h5>PAGAMENTO</h5>
                <div class="meios-pagamento">
                    <img class="icone-pagamento" src="../assets/img/logo-pix.png" alt="Pix">
                    <img class="icone-pagamento" src="../assets/img/logo-boleto.png" alt="Boleto">
                    <img class="icone-pagamento" src="../assets/img/logo-american-express.png" alt="American Express">
                    <img class="icone-pagamento" src="../assets/img/logo-visa.png" alt="Visa">
                    <img class="icone-pagamento" src="../assets/img/logo-mastercard.png" alt="Mastercard">
                    <img class="icone-pagamento" src="../assets/img/logo-hipercard.png" alt="Hipercard">
                    <img class="icone-pagamento" src="../assets/img/logo-elo.png" alt="Elo">
                </div>
            </div>

            <div class="caixa-info">
                <h5>SIGA-NOS</h5>
                <div class="midias-sociais">
                    <img class="icone-rede-social" src="../assets/img/logo-instagram.png" alt="Instagram">
                    <p>Instagram</p>
                </div>

                <div class="midias-sociais">
                    <img class="icone-rede-social" src="../assets/img/logo-twitter.png" alt="Twitter">
                    <p>Twitter</p>
                </div>

                <div class="midias-sociais">
                    <img class="icone-rede-social" src="../assets/img/logo-facebook-cide.png" alt="Facebook">
                    <p>Facebook</p>
                </div>

                <div class="midias-sociais">
                    <img class="icone-rede-social" src="../assets/img/logo-youtube.png" alt="YouTube">
                    <p>YouTube</p>
                </div>

                <div class="midias-sociais">
                    <img class="icone-rede-social" src="../assets/img/logo-linkedin.png" alt="Linkedin">
                    <p>Linkedin</p>
                </div>
            </div>

            <div class="caixa-info">
                <h5>ATENDIMENTO AO CLIENTE</h5>
                <img src="../assets/img/qr-code.png" class="app-store-imagem" alt="QR Code para app">
                <img src="../assets/img/logo-google-play.png" class="app-store-imagem" alt="Google Play Store">
                <img src="../assets/img/logo-store-apple.png" class="app-store-imagem" alt="Apple Store">
            </div>
        </section>
    </aside>

    <footer class="rodapé-final"> 
        <hr>
        <p>ⓒ 2023 Xhopii. Todos os direitos acadêmicos reservados.</p>
    </footer>
</body>

</html>
