<!DOCTYPE html5>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="../img/icon-shopee.png">
    <link rel="stylesheet" type="text/css" href="../assets/img/login.css">
    <title>Xhopii</title>
</head>

<body>
    <nav class="area-navegacao">
        <img class="logotipo" src="../img/logo.png">
        <h2>Xhopii</h2>
        <a class="acesso" href="#">Entre</a> 
        <a class="ajuda" href="#">Precisa de assistência?</a>
    </nav>

    <main class="invólucro">
        <div class="painel-principal">
            <p class="acesso-usuario">Login</p>

            <input type="email" placeholder="Email" name="campo-email">

            <input type="password" placeholder="Senha" name="campo-senha">

            <a href="home.html"><button>CONTINUAR</button></a>
            <div class="opcoes-acesso">
                <a class="recuperar-senha" href="#">Esqueci minha senha</a>

                <a class="acesso-sms" href="#">Acessar com SMS</a>
            </div>

            <div class="divisoria-horizontal">
                <hr>
                <p>OU</p>
                <hr>
            </div>

            <section class="formas-acesso">
                <div class="acesso-social">
                    <img src="../img/facebook-icon.png">
                    <p>Facebook</p>
                </div>

                <div class="acesso-social">
                    <img src="../img/google-icon.png">
                    <p>Google</p>
                </div>

                <div class="acesso-social">
                    <img src="../img/apple-icon.png">
                    <p>Apple</p>
                </div>

            </section>

            <div class="novo-registro">
                <p>Novo na Xhopii? <a href="#">Registrar</a></p>
            </div>
        </div>
    </main>

    <aside class="informacoes-uteis">
        <section class="secoes-dados">
            <div class="caixa-info">
                <h5>ATENDIMENTO AO CLIENTE</h5>
                <ul>
                    <li><a href="#">Cental de Ajuda</a></li>
                    <li><a href="#">Como Comprar</a></li>
                    <li><a href="#">Médotos de Pagamento</a></li>
                    <li><a href="#">Garantia Xhopii</a></li>
                    <li><a href="#">Devolução e Reembolso</a></li>
                    <li><a href="#">Fale Conosco</a></li>
                    <li><a href="#">Ouvidoria</a></li>
                </ul>
            </div>

            <div class="caixa-info">
              <h5>SOBRE O XHOPII</h5>
                <ul>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Políticas Xhopii</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Programa de Aliados da Xhopii</a></li>
                    <li><a href="#">Seja um Entregador Xhopii</a></li>
                    <li><a href="#">Ofertas Relâmpago</a></li>
                    <li><a href="#">Xhopii Blog</a></li>
                    <li><a href="#">Imprensa</a></li>
                </ul>
            </div>

            <div class="caixa-info">
                <h5>PAGAMENTO</h5>
                <div class="meios-pagamento">
                    <img class="icone-pagamento" src="../img/pix-logo.png">

                    <img class="icone-pagamento" src="../img/boleto-logo.png">

                    <img class="icone-pagamento" src="../img/American-Express-logo.png">

                    <img class="icone-pagamento" src="../img/visa.webp">

                    <img class="icone-pagamento" src="../img/mastercard-Logo.png">

                    <img class="icone-pagamento" src="../img/hipercard-logo.png">

                    <img class="icone-pagamento" src="../img/elo-logo.png">
                </div>
            </div>

            <div class="caixa-info">
                <H5>SIGA-NOS</H5>
                <div class="midias-sociais">
                    <img class="icone-rede-social" src="../img/instagram-icon.png">
                    <p>Instagram</p>
                </div>

                <div class="midias-sociais">
                    <img class="icone-rede-social" src="../img/twitter-icon.png">
                    <p>Twitter</p>
                </div>

                <div class="midias-sociais">
                    <img class="icone-rede-social" src="../img/logo-black-facebook.png">
                    <p>Facebook</p>
                </div>

                <div class="midias-sociais">
                    <img class="icone-rede-social" src="../img/youtube-icon.png">
                    <p>YouTube</p>
                </div>

                <div class="midias-sociais">
                    <img class="icone-rede-social" src="../img/linkedin-icon.png">
                    <p>Linkedin</p>
                </div>
            </div>

            <div class="caixa-info">
                <H5>ATENDIMENTO AO CLIENTE</H5>

                <img src="../img/qr-code.png" class="app-store-imagem">

                <img src="../img/google-play-logo.png" class="app-store-imagem">

                <img src="../img/app-store-logo.png" class="app-store-imagem">
            </div>
        </section>
    </aside>

    <footer class="rodapé-final"> 
        <hr>
        <p>ⓒ 2023 Xhopii. Todos os direitos acadêmicos reservados.</p>
    </footer>
</body>

</html>