<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="..assets/img/icon-shopee.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"
        defer></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/produtos.css">
    <title>Início</title>
</head>
<body>
    <header>
        <div>
            <img src="/assets/img/logo.png" alt="emblema">
            <h1>Xhopii</h1>
        </div>
        <a href="/view/login.html">
            <p>Sair</p>
        </a>
    </header>
    <nav class="navegacao-principal">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="./cadastro.html">Cadastro Cliente</a></li>
            <li><a href="./cadastro_funcionario.html">Cadastro Funcionário</a></li>
            <li><a href="./cadastrar_produto.html">Cadastro Produto</a></li>
            <li><a href="./cadastro-cupom.html">Cadastro Cupom</a></li>
            <li><a href="./visualizar-clientes.html">Ver Clientes</a></li>
            <li><a href="./visualizar_funcionarios.html">Ver Funcionário</a></li>
            <li><a href="./visualizar-produtos.html">Ver Produtos</a></li>
            <li><a href="./cadastrar_produto.html">Cadastro Produto</a></li>
        </ul>
    </nav>

    <main class="container-produto">
        <section class="galeria-imagens">
            <div class="miniaturas">
                <img src="../assets/img/produto1.png" id="corPreto" onclick="trocarImagemSelecionada(this)">
                <img src="../assets/img/produto2.png" id="corAzul" onclick="trocarImagemSelecionada(this)">
                <img src="../assets/img/produto3.png" id="corVerde" onclick="trocarImagemSelecionada(this)">
                <img src="../assets/img/produto4.png" id="corCinza" onclick="trocarImagemSelecionada(this)">
                <img src="../assets/img/produto5.png" id="corRosa" onclick="trocarImagemSelecionada(this)">
            </div>
            <div class="imagem-destaque">
                <img id="imagemPrincipal" src="../assets/img/produto1.png">
            </div>
        </section>

        <section class="informacoes-produto">
            <h1>Camisa Desenvolvedor Front-End CSS</h1>
            <h2 id="precoAtual">R$56,90</h2>
            <p id="estoqueDisponivel">171 peças disponíveis</p>

            <p>Modelos:</p>
            <button class="botao-personalizado" id="btnCorPreto" onclick="atualizarProdutoPorCor(this)">Preto</button>
            <button class="botao-personalizado" id="btnCorAzul" onclick="atualizarProdutoPorCor(this)">Azul</button>
            <button class="botao-personalizado" id="btnCorVerde" onclick="atualizarProdutoPorCor(this)">Verde</button>
            <button class="botao-personalizado" id="btnCorCinza" onclick="atualizarProdutoPorCor(this)">Cinza</button>
            <button class="botao-personalizado" id="btnCorRosa" onclick="atualizarProdutoPorCor(this)">Rosa</button>

            <p>Tamanhos:</p>
            <button class="botao-personalizado" id="btnTamP" onclick="ajustarEstoquePorTamanho(this)">P</button>
            <button class="botao-personalizado" id="btnTamM" onclick="ajustarEstoquePorTamanho(this)">M</button>
            <button class="botao-personalizado" id="btnTamG" onclick="ajustarEstoquePorTamanho(this)">G</button>
            <button class="botao-personalizado" id="btnTamGG" onclick="ajustarEstoquePorTamanho(this)">GG</button>

            <p id="tamanhoAtual">Tamanho Selecionado: P</p>
            <button id="comprarAgora">Comprar Agora</button>
        </section>
    </main>
</body>

</html>
