<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visualizar Cupons - Xhopii</title>
  <link rel="stylesheet" href="/assets/visualizar_cupom.css">

</head>
<body>
  <header>
    <div class="container">
      <div class="logo">
        <img src="/assets/img/logo.png" alt="Logo Xhopii">
        <h1>Xhopii</h1>
      </div>
      <a href="/view/login.html">Sair</a>
    </div>
  </header>
    <nav class="navegacao-principal">
        <ul>
            <li><a href="./home.html">Home</a></li>
            <li><a href="./cadastro.html">Cadastrar Cliente</a></li>
            <li><a href="./cadastro_funcionario.html">Cadastrar Funcionário</a></li>
            <li><a href="./cadastrar_produto.html">Cadastrar Produto</a></li>
            <li><a href="./cadastro-cupom.html">Cadastrar Cupom</a></li>
            <li><a href="./visualizar-clientes.html">Ver Clientes</a></li>
            <li><a href="./visualizar_funcionarios.html">Ver Funcionários</a></li>
            <li><a href="./visualizar-produtos.html">Ver Produtos</a></li>
            <li><a href="./visualizar_cupom.html">Ver Cupom</a></li>
        </ul>
    </nav>
    </ul>
  </nav>
  <main>
    <h2>Ver Cupons </h2>
    <div class="lista-cupons" id="listaCupons">
      <!-- JS vai preencher os cupons aqui -->
    </div>
  </main>
  <ansid>
    <section class="blocos-informacao">
        <div class="bloco-info">
                <h5>ATENDIMENTO AO CLIENTE</h5>
                <ul>
                    <li><a href="#">Cental de Ajuda</a></li>
                    <li><a href="#">Como Comprar</a></li>
                    <li><a href="#">Médotos de Pagamento</a></li>
                    <li><a href="#">Garantia Xhopii</a></li>
                    <li><a href="#">Devolução e Reembolso</a></li>
                    <li><a href="#">Fale Conosco</a></li>
                    <li><a href="#">Ouvidoria</a></li>
                </ul>
            </div>

        <div class="bloco-info">
              <h5>SOBRE O XHOPII</h5>
                <ul>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Políticas Xhopii</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Programa de Aliados da Xhopii</a></li>
                    <li><a href="#">Seja um Entregador Xhopii</a></li>
                    <li><a href="#">Ofertas Relâmpago</a></li>
                    <li><a href="#">Xhopii Blog</a></li>
                    <li><a href="#">Imprensa</a></li>
                </ul>
            </div>


        <div class="bloco-info">
            <h5>PAGAMENTO</h5>
            <div class="opcoes-pagamento">
                <img class="icone-pagamento" src="/assets/img/logo-pix.png">

                <img class="icone-pagamento" src="/assets/img/logo-boleto.png">

                <img class="icone-pagamento" src="/assets/img/logo-american-express.png">

                <img class="icone-pagamento" src="/assets/img/logo-visa.png">

                <img class="icone-pagamento" src="/assets/img/logo-mastercard.png">

                <img class="icone-pagamento" src="/assets/img/logo-hipercard.png">

                <img class="icone-pagamento" src="/assets/img/logo-elo.png">
            </div>
        </div>

        <div class="bloco-info">
            <H5>SIGA-NOS</H5>
            <div class="icones-sociais">
                <img class="icone-social" src="/assets/img/logo-instagram.png">
                <p>Instagram</p>
            </div>

            <div class="icones-sociais">
                <img class="icone-social" src="/assets/img/logo-twitter.png">
                <p>Twitter</p>
            </div>

            <div class="icones-sociais">
                <img class="icone-social" src="/assets/img/logo-facebook.png">
                <p>Facebook</p>
            </div>

            <div class="icones-sociais">
                <img class="icone-social" src="/assets/img/logo-youtube.png">
                <p>YouTube</p>
            </div>

            <div class="icones-sociais">
                <img class="icone-social" src="/assets/img/logo-linkedln.png">
                <p>Linkedin</p>
            </div>
        </div>

        <div class="bloco-info">
            <H5>ATENDIMENTO AO CLIENTE</H5>

            <img src="/assets/img/qr-code.png" class="loja-app">

            <img src="/assets/img/logo-google-play.png" class="loja-app">

            <img src="/assets/img/logo-store-apple.png" class="loja-app">
        </div>
    </section>
</ansid>

<footer class="rodape">
    <hr>
    <p>ⓒ 2023 Xhopii. Todos os direitos acadêmicos reservados.</p>
</footer>
</body>
</html>

  <script src="../assets/visualizar_cupom.js"></script>
</body>
</html>
